@charset "UTF-8";

@media screen and (min-width: 610px){
    header {
      min-height: 100vh;
      background: linear-gradient(rgba(0, 0, 0, 0.7), rgb(183 28 28 / 62%)), url(../imagens/SpiderMan-header.jpg) center/cover no-repeat;
      background-position: top;
      background-attachment: fixed;
    }

    #trailer article{
        padding: 0px 30px;
    }
}

@media screen and (min-width: 626px) {

    #sobre article, #lançamento article {
        border-radius: 8px;
        height: 385px;
        max-width: 515px;
    }

    #sobre article{
        margin-right: auto;
        margin-top: 212px;
    }

    #sobre article p, #lançamento article p{
        font-size: 1.3rem;
        padding: 15px;
      }

    #lançamento article{
        margin-left: auto;
        margin-top: 265px;
        margin-right: 1em;
    }
}

@media screen and (min-width: 640px) {
    #sobre article p, #lançamento article p{
        font-size: 1.3rem;
        padding: 15px;
      }
}

@media screen and (min-width: 647px) {
    #lançamento{
        margin-top: -350px;
    }
}

@media screen and (min-width: 737px) {
    #lançamento{
        margin-top: -300px;
    }
}

@media screen and (min-width: 768px) {
    #sobre article{
        margin-top: 240px;
        margin-left: 2em;
    }
}

@media screen and (min-width: 800px) {
    h1 {
      font-size: 4rem;
    }
    h2 {
      font-size: 2.5rem;
    }
    h3 {
      font-size: 1.75rem;
    }
    h4 {
      font-size: 1rem;
    }
    body {
      font-size: 1rem;
    }
    h1,
    h2,
    h3,
    h4 {
      line-height: 1;
    }

    nav {
        background: transparent;
      }
      .nav-center {
        width: 90vw;
        max-width: 1170px;
        margin: 0 auto;
        display: flex;
        align-items: center;
        justify-content: space-between;
      }
      .nav-header {
        padding: 0;
      }
      .nav-toggle {
        display: none;
      }
      .links-container {
        height: auto !important;
      }
      .links {
        display: flex;
      }
      .links a {
        background: transparent;
        color: var(--clr-white);
        font-size: 1.1rem;
        text-transform: capitalize;
        letter-spacing: var(--spacing);
        display: block;
        transition: var(--transition);
        margin: 0 1rem;
        font-weight: bold;
        padding: 0;
      }
      .links a:hover {
        background-color: transparent;
        color: var(--clr-white);
      }
      .fixed-nav .links a:hover {
        background-color: transparent;
        color: var(--clr-white);
      }

      #sobre .section{
        background-color: #363636;
        color: var(--clr-white);
        border-radius: 8px;
        height: 450px;
        max-width: 420px;
        margin-left: 2em;
        box-shadow: 1px 2px 15px rgba(0, 0, 0, 0.474);
        margin-top: 60px;
      } 
    
      #sobre article p, #lançamento article p{
        font-size: 1.2rem;
        text-align: justify;
        line-height: 2.3rem;
        padding: 20px;
      }

      #teorias{
        height: 330vh;
        justify-content: center;
      }

      #teorias .title{
        margin-top: -180px;
      }

      #teorias .article{
        height: 275vh;
        margin-top: 20px;
      } 

      #teorias1, #teorias3{
        justify-items: end;
        column-gap: 20px;
      } 

      .article img{
        width: 770px;
        height: 400px;
        border-radius: 10px;
      }

      #lançamento{
        margin-top: -400px;
      }

      #lançamento h2{
        width: 400px;
        padding: 15px;
      }

      #trailer article{
        padding: 0px 40px;
      }

      #trailer iframe{
        height: 480px;
      }
  }

  @media screen and (min-width: 992px) {
    .section-center {
      width: 95vw;
    }

    #trailer article{
        padding: 0px 60px;
      }
  }

  @media screen and (min-width: 1028px){

    #sobre {
        margin-top: 15px;
        margin-bottom: 80px;
      }

      #sobre article{
        background-color: #363636;
        color: var(--clr-white);
        border-radius: 8px;
        height: 460px;
        max-width: 570px;
        box-shadow: 1px 2px 15px rgba(0, 0, 0, 0.474);
        margin-top: 185px;
        transition: var(--transition);
      }

      #sobre article p, #lançamento article p{
        font-size: 1.6rem;
        text-align: justify;
        line-height: 2.5rem;
        padding: 20px;
      }

    .article img{
        width: 500px;
        height: 300px;    
        border-radius: 10px;
    }

    #teorias article{
        display: grid;
        align-items: start;
      }

      #teorias1, #teorias2, #teorias3{
        display: grid;
        grid-template-columns: 1fr 1fr;
        align-items: center;
        justify-items: center;
        padding: 20px;
      }

      #lançamento{
        margin-top: -1040px;
      }

      #lançamento article{
        margin-top: 180px;
        max-width: 630px;
      }

      #trailer article{
        padding: 0px 80px;
      }
  }

  @media screen and (min-width: 1140px){
    #sobre {
        background-image: linear-gradient(to right,#282828, #262642, transparent, transparent, transparent), url(../imagens/spider-man-peter-parker.jpg);
        background-size: contain;
        background-position: right;
        background-repeat: no-repeat;
        margin-top: 15px;
        margin-bottom: 80px;
      }

      #lançamento{
        /* background-image: linear-gradient(to left,#282828, #7c7c7c, transparent, transparent, transparent), url(../imagens/spider-man-miles-morales.webp); */
        margin-top: -1090px;
        /* background-size: contain; */
      }

      #trailer article{
        padding: 0px 80px;
      }
  }

  @media screen and (min-width: 1200px){
    #lançamento{
        margin-top: -1120px;
      }

      #trailer iframe{
        height: 590px;
      }

      footer{
        margin-top: 80px;
      }
  }

  @media screen and (min-width: 1240px){

    #sobre h2{
        width: 210px;
        font-size: 2.2em;
      } 

      #sobre article{
        margin-top: 65px;
        max-width: 670px;
      }
  }

  @media screen and (min-width: 1240px){
    #sobre {
        background-image: linear-gradient(to right,#282828, #262642, transparent, transparent, transparent), url(../imagens/spider-man-peter-parker.jpg);
      }

      #sobre article{
        margin-top: 150px;
        max-width: 670px;
        height: 470px;
      }

      #lançamento{
        /* background-image: linear-gradient(to left,#282828, #7c7c7c, transparent, transparent), url(../imagens/spider-man-miles-morales.webp); */
        margin-top: -1280px;
    }

    #lançamento h2{
        width: 290px;
        padding: 15px;
        font-size: 2em;
    }
  }

  @media screen and (min-width: 1332px){
    #lançamento{
        margin-top: -1370px;
    }

    #lançamento article{
        margin-right: 3.2em;
    }

    #trailer article{
        padding: 0px 150px;
      }
  }